<h2>Update the drone</h2>

<form action="/drones/{{drone._id}}/edit" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" value="{{drone.name}}">
    <br><br>
    <label for="propellers">Propellers:</label>
    <input type="text" name="propellers" value="{{drone.propellers}}">
    <br><br>
    <label for="maxSpeed">Maximum speed:</label>
    <input type="text" name="maxSpeed" value="{{drone.maxSpeed}}">
    <br><br>
    <button>Edit drone</button>
</form>